@import url(variables.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

html,body{
    scroll-behavior: smooth;
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: var(--background-body);
}